* 
    margin: 0
    padding: 0
    box-sizing: border-box
li 
    list-style: none
button 
    background: none
    border: none
    color: inherit
    cursor: pointer
    white-space: nowrap
a
    text-decoration: none
    color: inherit