$color-bg-header-footer: #0b0c10
$color-bg-sections-even: #1f2833
$color-bg-sections-odd: #121212 

$color-text-main: #e0e0e0

* 
	margin: 0
	padding: 0
	box-sizing: border-box
	
.container
	max-width: 1200px
	margin: 0 auto
	padding: 2rem

body
	font-family: 'Arial', sans-serif
	color: $color-text-main

// ------------ header ------------

.header
	background-color: $color-bg-header-footer

// ------------ main ------------

.main section:nth-child(even)
	background-color: $color-bg-sections-even
.main section:nth-child(odd)
	background-color: $color-bg-sections-odd

// ------------ footer ------------

.footer
	text-align: center
	background-color: $color-bg-header-footer